{% extends 'base.html.twig' %}

{% block body %}
    <h1>Vérification 2FA</h1>
    {% if error is defined and error %}
        <div style="color:red">{{ error }}</div>
    {% endif %}
    <form method="post">
        <input type="text" name="code" placeholder="Code à 6 chiffres" required autofocus>
        <button type="submit">Vérifier</button>
    </form>
{% endblock %}
